[submodule "languages/kotlin/tree-sitter-kotlin"]
	path = languages/kotlin/tree-sitter-kotlin
	url = https://github.com/fwcd/tree-sitter-kotlin.git
[submodule "languages/swift/tree-sitter-swift"]
	path = languages/swift/tree-sitter-swift
	url = https://github.com/alex-pinkus/tree-sitter-swift.git
[submodule "languages/ruby/tree-sitter-ruby"]
	path = languages/ruby/tree-sitter-ruby
	url = https://github.com/tree-sitter/tree-sitter-ruby.git
[submodule "languages/rust/tree-sitter-rust"]
	path = languages/rust/tree-sitter-rust
	url = https://github.com/tree-sitter/tree-sitter-rust.git
[submodule "languages/python/tree-sitter-python"]
	path = languages/python/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python.git
