[submodule "languages/kotlin/tree-sitter-kotlin"]
	path = languages/kotlin/tree-sitter-kotlin
	url = https://github.com/fwcd/tree-sitter-kotlin.git
[submodule "languages/swift/tree-sitter-swift"]
	path = languages/swift/tree-sitter-swift
	url = https://github.com/alex-pinkus/tree-sitter-swift.git
[submodule "languages/ruby/tree-sitter-ruby"]
	path = languages/ruby/tree-sitter-ruby
	url = https://github.com/tree-sitter/tree-sitter-ruby.git
[submodule "languages/rust/tree-sitter-rust"]
	path = languages/rust/tree-sitter-rust
	url = https://github.com/tree-sitter/tree-sitter-rust.git
[submodule "languages/python/tree-sitter-python"]
	path = languages/python/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python.git
[submodule "languages/go/tree-sitter-go"]
	path = languages/go/tree-sitter-go
	url = https://github.com/tree-sitter/tree-sitter-go.git
[submodule "languages/java/tree-sitter-java"]
	path = languages/java/tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java.git
[submodule "languages/markdown/tree-sitter-markdown"]
	path = languages/markdown/tree-sitter-markdown
	url = https://github.com/tree-sitter-grammars/tree-sitter-markdown.git
[submodule "languages/javascript/tree-sitter-javascript"]
	path = languages/javascript/tree-sitter-javascript
	url = https://github.com/tree-sitter/tree-sitter-javascript.git
[submodule "languages/typescript/tree-sitter-typescript"]
	path = languages/typescript/tree-sitter-typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript.git
